footer{
    margin-left: 20px;
    margin-top: 10px;
   padding-bottom: 10px;
    color: blue;
    float: right;
    /* position: absolute; */
    /* position: fixed; */
    bottom: 0;
}
.btn{
    background-color: bisque;
    margin: 10px 60px;
    color: slategray;
}

#overlay{
    background-color:#b3ecff;
    text-align: justify;
    border-radius: 10px;
    width: 80%;
}

#space{
   padding: 30px;
}

#right{
    display: block;
    float: right;
}

#scoot{
    padding-left: 40px;
}