footer{
    margin-right: 55px;
    margin-top: 15px;
    padding-bottom: 10px;
    color: blue;
    float: right;
    background: none;
    bottom: 0;
}

*{
    font-family: 'Montserrat', sans-serif;

}

.bold{
    font-weight: bold;
    
}
.back{
    padding-top: 10px;
    background-color: orange;
    /* background-color: #ffcc80; */
    border: 3px solid #3333cc;
    border-radius: 10px;
    padding-bottom: 10px;
}

.btn{
    background-color: bisque;
    margin: 10px 10px;
    color: slategray;
    font-family: 'Source Code Pro', monospace;

}

.input-group-text{
    background-color: bisque;
    color: slategray;
    font-family: 'Source Code Pro', monospace;
}

#extend{
    margin-bottom: 10px;
}
#shorten{
    margin-top: 20px;
    width: 55%;
}
#overlay{
    background-color:#b3ecff;
    /* text-align: justify; */
    border-radius: 20px;
    width: 80%;
}

#btnW{
    width: 90px;
}
#space{
   padding: 20px;
   border: solid;
   border-width: 4px;
   border-radius: 20px;
   border-color:  #3333cc;
}

#right{
    display: block;
    float: right;
}

#scoot{
    padding-left: 40px;
}