<div id="overlay"class="container">
    <div id="space"class="row">
        <div class="col-sm-3 back">
            <img src = {{imageLocation}} width="100%">
            
        </div>
        <div id= "scoot"class="col-sm-9">
            <div class="row">
                <div class="col-sm-9">
                    <table class="table table-sm">
                        
                            <tr>
                                <td><h5>Name: {{currentUser.username}}</h5></td>
                                <td><h5>Rank: {{rank}}</h5></td>
                            </tr>
                            <tr>
                                <td><h5>Score: {{currentUser.score}}</h5></td>
                                <td><h5 *ngIf = "showNextLevel">Points to {{nextLevel}}: {{pointsToNextLevel}}</h5></td>
                            </tr>
                    
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <h5>Your Inventory:</h5>
                        <table class="table table-sm table-hover" >
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Description</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>

                            
                            <tr *ngFor = "let anItem of userItems">
                                <td><p>{{anItem.name}}</p></td>
                                <td><p>{{anItem.description}}</p></td>
                                <td><p>{{anItem.value}}</p></td>
                                <td>
                                    <button class="btn btn-sm btn-primary" (click) = "removeItem(anItem)">Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-primary"(click) = "addItem()">Add Item to Inventory</button>
                        
                        <div id="shorten" *ngIf = "showAddToInventory">
                            <h5>Add Treasure to Inventory</h5>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <p class=" input-group-text" id="basic-addon1">Name</p>
                                </div>
                                <input class=" form-control"type="text" [(ngModel)] = "name">

                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <p class=" input-group-text" id="basic-addon1">Description</p>
                                </div>
                                <input class=" form-control" type="text" [(ngModel)] = "description">
                            </div>
                            
                        
                            <button class="btn btn-primary"(click) = "addTreasureToInventory()">Add Treasure</button>
                        </div>
                </div>
            </div>
            </div>
        </div>
        
      </div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <footer>
                <p>&copy; BitByte Inc.</p>
            </footer>
        </div>
    </div>
</div>



