<div id="overlay"class="container">
    <div id="space"class="row">
        <div class="col-sm-3">
            <img src = {{imageLocation}} height="230">
            
        </div>
        <div id= "scoot"class="col-sm-9">
            <div class="row">
                <div class="col-sm-9">
                    <table class="table table-sm">
                        
                            <tr>
                                <td><h4>Name: {{currentUser.username}}</h4></td>
                                <td><h4>Rank: {{rank}}</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Score: {{currentUser.score}}</h4></td>
                                <td><h4>Points to {{nextLevel}}: {{pointsToNextLevel}}</h4></td>
                            </tr>
                    
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <h5>Your Inventory:</h5>
                        <table class="table table-sm" *ngFor = "let anItem of userItems">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Description</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><p>{{anItem.name}}</p></td>
                                <td><p>{{anItem.description}}</p></td>
                                <td><p>{{anItem.value}}</p></td>
                                <td>
                                    <button id="btnW"class="btn btn-sm btn-primary" (click) = "removeItem(anItem)">Remove {{anItem.name}}</button>
                                </td>
                            </tr>
                            
                        </table>
                        <button class="btn btn-sm btn-primary"(click) = "addItem()">Add Item to Inventory</button>
                
                </div>
            </div>
            </div>
        </div>
      </div>

<div *ngIf = "showAddToInventory">
    <h3>Add Treasure to Inventory</h3>
    Name:
    <input type="text" [(ngModel)] = "name">
    Description:
    <input type="text" [(ngModel)] = "description">

    <button class="btn btn-primary"(click) = "addTreasureToInventory()">Add Treasure</button>
</div>


<footer>
    <p>&copy; BitByte Inc.</p>
</footer>