<p>testing works!</p>


<button (click) = "getAllClientsTest()">Get all Clients Test</button>
<button (click) = "logintest()">Login Test</button>
<button (click) = "createClientTest()">Create New Client Test</button>
<button (click) = "getLocationByIdTest()">getLocationById test</button>
<button (click) = "getAllLocationsTest()">getAllLocations Test</button>
<button (click) = "getItemsForLocationTest()">getItemsForLocation Test</button>
<button (click) = "getItemsForClientTest()">getItemsForClient Test</button>
<button (click) = "getItemByIdTest()">getItemById Test</button>
<button (click) = "updateItemTest()">updateItem Test</button>