footer{
    margin-right: 20px;
    margin-top: -5px;
   /* padding-bottom: 5px; */
    color: blue;
    float: right;
    /* position: absolute; */
    /* position: fixed; */
    right: 0;
    bottom: 0;
}


.big{
font-family: 'Amatic SC', cursive;
font-weight:bold;
font-size: 90px;
}

.reg{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.wide{
    width: 100%;
}

.tiled{
    /* background-image: url("/src/assests/images/pokemon-go-wallpaper-pokeball-png.jpg"); */
    background-size: 50px;
    background-repeat: repeat-x;
    height: 30px;
}

.container{
    /* background-color: aqua; */
    margin-top: -40px;
    text-align: center;
    
}


.input-group-text{
    background-color: bisque;
    color: slategray;
    font-family: 'Source Code Pro', monospace;

}

.form-control{
    font-family: 'Montserrat', sans-serif;

}

.btn{
    background-color: bisque;
    color: slategray;
    font-family: 'Source Code Pro', monospace;
    /* font-size: 20px; */
}

#small{
    font-size: 10px;
}
#right{
    float: right;
    font-size: 15px;
}

#left{
    float: left;
    font-size: 15px;
}

#check{
    text-align: center;
    margin-left: 25px;
}

#backdrop{
    background-image: url("src/assets/images/forest.png");
    background-size: cover;
}

#brand{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 35px;
    
}


.low{
    margin-top: 70px;
}

.navbar{
    background-color: aquamarine;
    margin: 10px 20px;
    border: 1px solid  #00b386;
    border-radius: 10px;
    /* border-color: green; */
}