<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>

<div id=backdrop class="jumbotron jumbotron-fluid" *ngIf = "loginSuccessful == false">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div >
                        <h1 class="display-4">GEO EPIC</h1>
                        <p class="lead">Find Poke Items,  Gain Revature Points</p>
                        <hr class="my-4">
                    
                   
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-4 low" >
                    <img src="assets/images/MaleTrainer.png" height="300px">
                </div>
                <div class="col-sm-4">
                
                    <div id="check" >
                      
                            <h2>Start Exploring!</h2>
                        
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <p class="input-group-text" id="basic-addon1">Username</p>
                                </div>
                                <input class="form-control" type="text" [(ngModel)] = "usernm">
                                
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <p class="input-group-text" id="basic-addon1">Password</p>
                                </div>
                                <input  class="form-control" type="password" [(ngModel)] = "userpassword">
                                
                            </div>
                           
                            
                            <button id="left" class="btn" (click) = "submit()">Submit</button>
                            <button id="right" class="btn" (click) = "addNewUser()">Become an Explorer</button>
                    
                    </div>
                    
                        
                    
                </div>
                <div class="col-sm-4 low" >
                    <img src="assets/images/FemaleExplore.png" height="300px">
    
                </div>
            </div>
         
    </div>
    
</div>

<nav class="navbar" *ngIf = "showLogout"> 
    <div class="navbar-brand"> 
        GeoEpic
    </div> 
               points to manager:
                <button  class="btn right btn-sm btn-primary" (click) = "doLogout()">Logout</button>
                    
</nav>
    
<div *ngIf = "loginSuccessful">

    <app-location-picker
        [currentUser] = "currentUser">

    </app-location-picker>


</div>
<footer>
    <p>&copy; BitByte Inc.</p>
</footer>



</html>