<html>


<div id=backdrop class="jumbotron jumbotron-fluid" *ngIf = "loginSuccessful == false">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div >
                        <h1 class="display-4 big">GEO EPIC</h1>
                        <p class="lead reg">Find Poke Items,  Gain Revature Points</p>
                        <hr class="my-4">
                    
                   
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-4 low" >
                    <img src="assets/images/MaleTrainer.png" height="300px">
                </div>
                <div class="col-sm-4">
                
                    <div id="check" >
                            
                            <h2 class="reg">Start Exploring!</h2>
                            <h2 class="reg">Sign up by Choosing a Username and Password</h2>
                        
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <p class=" input-group-text" id="basic-addon1">Username</p>
                                </div>
                                <input class=" form-control" type="text" [(ngModel)] = "usernm">
                                
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <p class=" input-group-text" id="basic-addon1">Password</p>
                                </div>
                                <input  class=" form-control" type="password" [(ngModel)] = "userpassword">
                                
                            </div>
                           
                            
                            <button id="left" class="btn" (click) = "submit()">Submit</button>
                            <button id="right" class="btn" (click) = "addNewUser()">Become an Explorer</button>
                    
                    </div>
                    
                        
                    
                </div>
                <div class="col-sm-4 low" >
                    <img src="assets/images/FemaleExplore.png" height="300px">
    
                </div>
            </div>
         
    </div>
    
</div>

<nav class="navbar" *ngIf = "showLogout"> 
    <div id="brand"class="navbar-brand"> 
        <img src="assets/images/pokebox2.png" height=30px>
        GeoEpic
    </div> 
                <button  class="btn  btn-primary" (click) = "goToLocation()">Go To Location</button>
                <button  class="btn  btn-primary" (click) = "seeMyStats()">My Stats</button>
                <button  class="btn right  btn-primary" (click) = "doLogout()">Logout</button>
       
</nav>
    
<!-- <div *ngIf = "showNavigationOptions">
    <button class="btn btn-primary"(click) = "seeMyStats()">See Your Stats</button>
    <button class="btn btn-primary"(click) = "goToLocation()">Look For Poke Treasure</button>

</div> -->

<div *ngIf = "showStats">
    <app-mystats [currentUser] = "currentUser">
    </app-mystats>
</div>

<div *ngIf = "showLocation">
    <app-location-picker
        [currentUser] = "currentUser">

    </app-location-picker>
</div>



<footer *ngIf = "loginSuccessful == false">
    <p>&copy; BitByte Inc.</p>
</footer>



</html>