
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="assets/images/Pikachu.png" width="200" style="position:fixed; margin-top: 20px;">

    </div>
    <div class="col-sm-6">

      <h3 style="text-align: center; font-size:15; font-weight: bold;">Score Board</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr class="c"*ngFor = "let client of sortedArray">
              <td>{{client.username}}</td>    
              <td>{{client.score}}</td> 
          </tr>
        </tbody>
      </table>
      <footer>
        <p>&copy; BitByte Inc.</p>
      </footer>
      
    </div>
    <div class="col-sm-3">
      <img src="assets/images/Charmander.png"width="200" style="position:fixed; margin-left: 45px; margin-top: 20px">
    </div>
  </div>
</div>

 