<html id="boop">
    
<div id="border"class="contianer container-fluid">
    <div  class="row">
        <div class="col-sm-12">
            
            <div *ngIf = "showLocationMenu">
                <table  class="table table-borderless">
                    <tr>
                        <td><button class="btn btn-primary"(click) = "openLocationOne()">Location One</button></td>
            
                        <td><button class="btn btn-primary"(click) = "openLocationTwo()">Location Two</button></td>
            
                        <td><button class="btn btn-primary"(click) = "openLocationThree()">Location Three</button></td>
            
                        <td><button class="btn btn-primary"(click) = "openLocationFour()">Location Four</button></td>
                    </tr>
                </table>
                
            </div>
        </div>

    </div>
    <!-- <div class="row">
        <div id="welcome"class="container block" *ngIf ="showTreasureMap == false">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Welcome! Choose a location to </h2>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="container">
            <div class="row">
        <div class="col-sm-7">
            <div *ngIf = "showTreasureMap">
                
                        <img class="map" src = "{{treasureLocation}}" >
                        <iframe class = "map"width="394" height="315" frameBorder="0" [src]="urlSafe"></iframe>
                        
                        <img class = "rotom"src="assets/images/RotomTv3.png" width="600px">
                    
            </div>
        </div>
        <div class="col-sm-5"  *ngIf = "showTreasureMap">
            <div class="card block" style="width: 25rem;">
                <img class="card-img-top" src="assets/images/pokebox2.png" alt="pokebox">
                <div class="card-body">
                  <h5 class="card-title bold">Clue: {{currentHint}}</h5>
                  <button class="btn btn-primary cardbtn" (click) = "treasureBoxFound()"> Open box </button>
                  <div *ngIf = "currentUser.manager">
                    <button class="btn btn-primary cardbtn" (click) = "editLocationCoordinates()">Edit Location Coordinates</button>
                  
                  </div>
                    <div *ngIf = "editTreasureLocation">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <p class=" input-group-text" id="basic-addon1">New Coordinates</p>
                            </div>
                            <input class=" form-control" type="text" [(ngModel)] = "newLocationInput">
                            
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <p class=" input-group-text" id="basic-addon1">Clue</p>
                            </div>
                            <input class=" form-control" type="text" [(ngModel)] = "newClueInput">
                            
                        </div>
                        
                        <button class="btn btn-primary cardbtn"(click) = "submitCoordinates()">Submit Update</button>
                    </div>
                </div>
              </div>
        </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
         <footer *ngIf = "showLocationMenu && showTreasuresList==false">
             <p>&copy; BitByte Inc.</p>
         </footer>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf = "showTreasuresList">
                
    
                <app-treasures-list
                    [currentLocation] = "currentLocation" [currentUser] = "currentUser" >
            
                </app-treasures-list>
            
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <footer *ngIf = "showTreasuresList">
                <p>&copy; BitByte Inc.</p>
            </footer>
           </div>
    </div>
</div>




</html>
