footer{
    
    /* position: absolute; */
    background-image: none;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
   padding-bottom: 10px;
    color: blue;
    float: right;
    /* position: absolute; */
    /* position: fixed; */
    bottom: 0;
}

.rotom{
    position: absolute;

    z-index: 1;
}

.map{
    position: absolute;
    z-index: 3;
    top: 180px;
    left:60px;
}

.block{
    text-align: center;
}


#box{
    height: 100px;
 }
.table{
    background-color: lightgreen;
    border-radius: 10px;
    /* padding-right: -10px; */
}
.jumbotron{
    width: 100%;
}

#boop{
    background-image: none;
}

.btn{
    background-color: bisque;
    margin: 10px 60px;
    color: slategray;
}

#change:hover{
    src: url("/assets/images/pokeOpening2.gif");
    
}