
<div *ngIf = "showTreasures">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="heads">Select a Treasure in the Box to Swap with an Item<br> in Your Inventory or with a New Treasure</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h5>Treasures in box {{currentLocation.lId}}:</h5>
                <table class="table table-sm table-hover table-borderless">
                <thead>
                    <tr>
                        <th>Treasure</th>
                        <th>Description</th>
                        <th>Value</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let treasure of treasures">
                        <td>{{treasure.name}}</td>
                        <td>{{treasure.description}}</td>
                        <td>{{treasure.value}}</td>
                        <td><button class="btn btn-sm btn-primary"(click) = "swapTreasure(treasure)"> Select </button></td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h5>Your Score: {{currentUser.score}}</h5>
                <h5>Your Inventory:</h5>
                <table class="table table-sm table-hover table-borderless">
                    <thead>
                    <tr>
                        <th>Treasure</th>
                        <th>Description</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let anItem of userItems">
                            <td>{{anItem.name}}</td>
                            <td>{{anItem.description}}</td>
                            <td>{{anItem.value}}</td>
                            <td><button class="btn btn-sm btn-primary" (click) = "swapUserItem(anItem)"> Select </button></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" (click) = "swapNewTreasure()">Swap with New Treasure</button>
                
                    <div id="squish" *ngIf = "currentUser.manager">
                        <h5 id="top" class="heads">Add or Remove a Treasure from the Box</h5>
                        <button id="left"class="btn btn-primary"(click) = "addTreasure()">Add Treasure</button>
                        <button id="right"class="btn btn-primary"(click) = "removeTreasure()">Remove Treasure</button>
                    </div>
                
            </div>
        </div>
        
    </div>

</div>
<div id="backdrop" class="container"*ngIf = "showSwapNewTreasure">
    <div class="row">
        <div class="col-sm-12">
            
                <h3>Your New Treasure:</h3>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <p class=" input-group-text" id="basic-addon1">Name</p>
                    </div>
                    <input class=" form-control"type="text" [(ngModel)] = "name">
            
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <p class=" input-group-text" id="basic-addon1">Description</p>
                    </div>
                    <input class=" form-control"type="text" [(ngModel)] = "description">
                </div>
                
                <button class="btn btn-primary" (click) = "newItemSwap()"> Swap </button>
            
        </div>
    </div>
</div>





<div *ngIf = "readyForSwap">
    <h3>SWAP Ready</h3>
    <br>
    <h5>Item from Box:{{boxSwapItem.name}}:{{boxSwapItem.description}}</h5>
    <br>
    <h5>Your Item:{{userSwapItem.name}}:{{userSwapItem.description}}</h5>
    <br>
    <button class="btn btn-primary"(click) = "doSwap()">Do Swap!</button>
</div>



<div *ngIf = "addTreasureMenu">
    <h3>Add Treasure to Box</h3>
    Name:
    <input type="text" [(ngModel)] = "name">
    Description:
    <input type="text" [(ngModel)] = "description">
    Value:
    <input type="text" [(ngModel)] = "value">
    <button class="btn btn-primary"(click) = "addTreasureToBox()">Add Treasure</button>

</div>

<div *ngIf = "removeTreasureMenu">
    <h3>Remove Treasure From Box</h3>
    <ul>
        <li *ngFor = "let treasure of treasures">
            {{treasure.name}}:{{treasure.description}}
            <button class="btn btn-primary" (click) = "removeFromBox(treasure)">Remove {{treasure.name}}</button>
        </li>
    </ul>
</div>



